.terminal-container {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 355px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.terminal-header {
  background-color: #202020;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.terminal-buttons {
  display: flex;
  gap: 5px;
}

.terminal-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5f56; /* Close button color */
}

.terminal-button.minimize {
  background-color: #ffbd2e; /* Minimize button color */
}

.terminal-button.maximize {
  background-color: #27c93f; /* Maximize button color */
}

.terminal-title {
  flex-grow: 1;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  margin-left: -50px;
}

.terminal-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
}

.terminal-output {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* This will ensure the new lines are added at the bottom */
  font-size: 12px;
}

.terminal-input-container {
  display: flex;
  align-items: center;
}

.terminal-prompt {
  color: #ffffff;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 12px;
}

.terminal-input {
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 12px;
  width: 100%;
  resize: none;
  margin-top: 0px;
}

.prompt-container {
  display: flex;
  align-items: center;
}

.prompt {
  font-size: 12px;
  margin-right: 5px; /* Adjust margin as needed */
  color: #27c93f;
}

.command {
  font-size: 12px;
}

.output {
  margin-left: 15px; /* Indent output */
}

.artwork-container {
  width: 100%;
  max-height: 60px; /* Set a fixed height for the artwork */
  overflow: hidden; /* Hide any overflow */
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork-container pre {
  transform: scale(0.2); /* Scale down the artwork */
}

.input-container {
  display: flex;
  align-items: center;
}

.spacer {
  height: 1em; /* Height of the spacer line */
}