/* Custom styles for the Zoom Out button in the topology toolbar */

#zoom-in {
    position: absolute;
    top: -160px; /* Y coordinate */
    left: -20px; /* X coordinate */
  }

#zoom-out {
    position: absolute;
    top: -120px; /* Y coordinate */
    left: -20px; /* X coordinate */
  }

#reset-view {
    position: absolute;
    top: -80px; /* Y coordinate */
    left: -20px; /* X coordinate */
}

#fit-to-screen {
    position: absolute;
    top: -40px; /* Y coordinate */
    left: -20px; /* X coordinate */
}

  .pf-v5-u-screen-reader {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap; /* prevent content from wrapping */
    border: 0;
  }