/* Custom styles for the Zoom Out button in the topology toolbar */
:root {
  --connector-circle-success-color: #3e8635; /* Green */
  --connector-circle-failed-color: #c9190b;  /* Red */
  --edge-success-color: #3e8635;             /* Green */
  --edge-failed-color: #c9190b;              /* Red */
}

.pf-v5-u-screen-reader {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap; /* prevent content from wrapping */
  border: 0;
}

.pf-topology__node__label__background {
  filter: none;
}

.pf-topology__connector-circle.pf-m-source {
  fill: var(--connector-circle-success-color) !important;
}

.pf-topology__connector-circle {
  fill: var(--connector-circle-success-color) !important;
}

.pf-topology__edge {
  stroke: var(--edge-success-color) !important;
  --edge--active--stroke: var(--edge-success-color) !important;
  --edge--hover--stroke: var(--connector-circle-success-color) !important;
}

.pf-topology__edge__link.pf-m-dashed-md {
  stroke-width: 3px !important;
  animation-duration: 0.5s !important;
}

.pf-topology__edge__link {
  stroke-dasharray: 5 5  !important;
}
