.pf-v5-u-screen-reader {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap; /* prevent content from wrapping */
  border: 0;
}

.pf-topology__edge__link.pf-m-dashed-md {
  stroke-width: 4px !important;
  animation-duration: 0.5s !important;
}

.pf-topology__edge__link {
  stroke-dasharray: 5 5  !important;
}

.pf-topology__group__background {
  fill: var(--pf-topology__group__background--Fill);
  stroke: #0A7373 !important;
  stroke-width: 8px !important;
}

.pf-topology-visualization-surface {
  background-color: #f3f3f3;
  background-image: radial-gradient(#d6d6d6 2px, transparent 0) !important;
  background-size: 20px 20px !important;
}

.pf-v5-c-form-control {
  width: 80% !important;
}

/* [data-id="air-interface"] .pf-topology__edge__link {
  stroke: green !important;
}

[data-id="air-interface"] .pf-topology__connector-circle.pf-m-source {
  fill: green !important;
}

[data-id="air-interface"] .pf-topology__connector-circle {
  fill: green !important;
}

[data-id="Open-Fronthaul-interface"] .pf-topology__edge__link {
  stroke: green !important;
}

[data-id="Open-Fronthaul-interface"] .pf-topology__connector-circle.pf-m-source {
  fill: green !important;
}

[data-id="Open-Fronthaul-interface"] .pf-topology__connector-circle {
  fill: green !important;
}

[data-id="F1-interface"] .pf-topology__edge__link {
  stroke: green !important;
}

[data-id="F1-interface"] .pf-topology__connector-circle.pf-m-source {
  fill: green !important;
}

[data-id="F1-interface"] .pf-topology__connector-circle {
  fill: green !important;
}

[data-id="N2-interface"] .pf-topology__edge__link {
  stroke: green !important;
}

[data-id="N2-interface"] .pf-topology__connector-circle.pf-m-source {
  fill: green !important;
}

[data-id="N2-interface"] .pf-topology__connector-circle {
  fill: green !important;
}

[data-id="N3-interface"] .pf-topology__edge__link {
  stroke: green !important;
}

[data-id="N3-interface"] .pf-topology__connector-circle.pf-m-source {
  fill: green !important;
}

[data-id="N3-interface"] .pf-topology__connector-circle {
  fill: green !important;
} */
.custom-edge-success {
  --edge--hover--stroke: green !important;
  --edge--stroke: green !important;
}

.custom-edge-success .pf-topology-connector-arrow {
  fill: green !important; /* Customize the connector arrow fill color */
  stroke: #004700 !important; /* Customize the connector arrow stroke color */
  stroke-width: 2px !important; /* Customize the connector arrow stroke width */
}

.custom-edge-failure {
  --edge--hover--stroke: red !important;
  --edge--stroke: red !important;
}

.custom-edge-failure .pf-topology-connector-arrow {
  fill: red !important; /* Customize the connector arrow fill color */
  stroke: #a80303 !important; /* Customize the connector arrow stroke color */
  stroke-width: 2px !important; /* Customize the connector arrow stroke width */
}