.pf-v5-u-screen-reader {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap; /* prevent content from wrapping */
  border: 0;
}

.pf-topology__edge__link.pf-m-dashed-md {
  stroke-width: 4px !important;
  animation-duration: 0.5s !important;
}

.pf-topology__edge__link {
  stroke-dasharray: 5 5 !important;
}

.pf-topology__group__background {
  fill: var(--pf-topology__group__background--Fill);
  stroke: #0A7373 !important;
  stroke-width: 8px !important;
}

.pf-topology-visualization-surface {
  background-color: #f3f3f3;
  background-image: radial-gradient(#d6d6d6 2px, transparent 0) !important;
  background-size: 20px 20px !important;
}

.pf-v5-c-form-control {
  width: 80% !important;
}

.pf-topology__edge__link.green {
  stroke: green !important;
}

.pf-topology__edge__link.red {
  stroke: red !important;
}

.pf-topology__connector-circle.pf-m-source.green {
  fill: green !important;
}

.pf-topology__connector-circle.green {
  fill: green !important;
}

.pf-topology__connector-circle.pf-m-source.red {
  fill: red !important;
}

.pf-topology__connector-circle.red {
  fill: red !important;
}
