/* Custom styles for the Zoom Out button in the topology toolbar */
:root {
  --connector-circle-success-color: #3e8635; /* Green */
  --connector-circle-failed-color: #c9190b;  /* Red */
  --edge-success-color: #3e8635;             /* Green */
  --edge-failed-color: #c9190b;              /* Red */
}

.pf-v5-u-screen-reader {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap; /* prevent content from wrapping */
  border: 0;
}

.pf-topology__node__label__background {
  filter: none;
}

.pf-topology__connector-circle.pf-m-source {
  fill: var(--connector-circle-failed-color) !important;
}

.pf-topology__connector-circle {
  fill: var(--connector-circle-success-color) !important;
}

.pf-topology__edge {
  stroke: rgb(121, 121, 121) !important;
  --edge--active--stroke: rgb(39, 39, 39) !important;
  --edge--hover--stroke: rgb(121, 121, 121) !important;
}

.pf-topology__edge__link.pf-m-dashed-md {
  stroke-width: 3px !important;
  animation-duration: 0.5s !important;
}

.pf-topology__edge__link {
  stroke-dasharray: 5 5  !important;
}

.pf-topology__group__background {
  fill: var(--pf-topology__group__background--Fill);
  stroke: #0A7373 !important;
  stroke-width: 8px !important;
}

.pf-topology-visualization-surface {
  background-color: #f3f3f3;
  background-image: radial-gradient(#d6d6d6 2px, transparent 0) !important;
  background-size: 20px 20px !important;
}
