/* SidebarStyles.css */
.custom-sidebar {
    width: 200px; /* Adjust the width as needed */
    background-color: #f0f0f0; /* Light grey background */
    padding: 10px;
    height: 100vh; /* Default to full height */
    border-right: 1px solid #ccc; /* Optional: Add a border to separate the sidebar */
}

.custom-nav-item {
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Adds a separator-like effect */
}

.custom-nav-item:hover {
    background-color: #ddd; /* Slight highlight on hover */
}

.sidebar-container {
    display: flex;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 1000; Ensure it stays on top if needed */
  }
  
  .toggle-button {
    writing-mode: vertical-lr; /* Rotate text */
    transform: rotate(180deg); /* Flip button orientation */
    height: 40px; /* Or adjust based on your design */
    margin-right: 10px; /* Space between button and sidebar */
  }
  
  .sidebar {
    width: 200px;
    display: block; /* or 'none' based on state */
  }

/* Adjustments for tablets */
@media (max-width: 768px) {
  .custom-sidebar {
      height: 90vh; /* Slightly less than full height or adjusted as needed */
  }
}

/* Adjustments for mobile devices */
@media (max-width: 480px) {
  .custom-sidebar {
      height: auto; /* Adapt height based on content or other criteria */
      min-height: 50vh; /* Ensure it is not too small */
  }
}

.hidden {
  display: none;
}